while loops

In [1]:
count = 0
while count < 5:
  print("count:", count)
  count += 1

count: 0
count: 1
count: 2
count: 3
count: 4

CONTORL FLOW TOOLS

In [8]:
for i in range(10):
  if i == 5:
    break
  print (i)

0
1
2
3
4

PASS

In [9]:
for i in range(10):
  if i == 5:
    pass
  print (i)

0
1
2
3
4
5
6
7
8
9

HANDS ON PRACTICE

In [10]:
number = int(input("enter a number:"))
if number %2 ==0:
  print("the number is even.")
else:
  print("the number is odd")

enter a number:6
the number is even.

SUM  OF NUMBER IN A GIVEN RANGE

In [11]:
start =int(input("enter the start of the range:"))
end =int(input("enter the end of the range: "))
sum=0
for i in range(start, end + 1):
  sum += i
print("the sum is:", sum)

enter the start of the range:5
enter the end of the range: 10
the sum is: 45

factorial numbers

In [12]:
number =int(input("enter a number: "))
factorial =1
for i in range(1,number + 1):
  factorial*=i
print("the factorial is:", factorial)

enter a number: 5
the factorial is: 120

FIBONACCI SEQUENCE

In [25]:
n = int(input("enter the number of terms:"))
a, b =0,1
for i in range(n):
  print(a, end=" ")

  a,b = b, a + b

enter the number of terms:10
0 1 1 2 3 5 8 13 21 34