while loops

In [ ]:
count = 0
while count < 5:
  print("count:", count)
  count += 1

count: 0
count: 1
count: 2
count: 3
count: 4

CONTORL FLOW TOOLS

In [ ]:
for i in range(10):
  if i == 5:
    break
  print (i)

0
1
2
3
4

PASS

In [ ]:
for i in range(10):
  if i == 5:
    pass
  print (i)

0
1
2
3
4
5
6
7
8
9

HANDS ON PRACTICE

In [ ]:
number = int(input("enter a number:"))
if number %2 ==0:
  print("the number is even.")
else:
  print("the number is odd")

enter a number:6
the number is even.

SUM  OF NUMBER IN A GIVEN RANGE

In [ ]:
start =int(input("enter the start of the range:"))
end =int(input("enter the end of the range: "))
sum=0
for i in range(start, end + 1):
  sum += i
print("the sum is:", sum)

enter the start of the range:5
enter the end of the range: 10
the sum is: 45

factorial numbers

In [ ]:
number =int(input("enter a number: "))
factorial =1
for i in range(1,number + 1):
  factorial*=i
print("the factorial is:", factorial)

enter a number: 5
the factorial is: 120

FIBONACCI SEQUENCE

In [ ]:
n = int(input("enter the number of terms:"))
a, b =0,1
for i in range(n):
  print(a, end=" ")

  a,b = b, a + b

enter the number of terms:10
0 1 1 2 3 5 8 13 21 34

SIMPLE CALCULATOR USING IF-ELSE

In [ ]:
num1 = float(input("enter first number: "))
num2 = float(input("enter second number: "))
operation = (input("enter operation(+, -, *, /:"))
if operation == '+':
  print("result:", num1 + num2)
elif operation == '-':
  print("result:", num1 - num2)
elif operation == '*':
  print("result:", num1 * num2)
elif operation == '//':
  print("result:'", num1 // num2)
elif operation == '%':
  print("result:", num1 % num2)
elif operation == '**':
  print("result:", num1 ** num2)
else:
  print("INVALID operation")

enter first number: 6
enter second number: 3
enter operation(+, -, *, /:*
result: 18.0

CHECK LEAP YEAR

In [ ]:
year =int(input("enter a year: "))
if(year % 4 == 0 and year % 100!=0) or (year % 400 ==0):
  print("leap year")
else:
  print("not a leap year")

enter a year: 2022
not a leap year

FIND THE LARGEST OF THREE NUMBERS

In [ ]:
num1 = float(input("enter first number: "))
num2 = float(input("enter second number: "))
num3 = float(input("enter third number: "))
if num1>=num2 and num1 >=num3:
  print("largest number is:",num1)
elif num2>=num3:
  print("largest number is:",num2)
else:
  print("largest number is:",num3)

enter first number: 7
enter second number: 6
enter third number: 18
largest number is: 18.0

In [ ]:
a = int(input(" enter a number"))
if a>0:
  print("positive")
elif a<0:
  print("negative")
else:
  print("zero")

 enter a number5
positive

SUM OF ALL EVEN NUMBER IN A RANGE

In [ ]:
start = int(input("enter start of range:"))
end = int(input(" enter end of range"))
even_sum=0
for num in range(start, end + 1):
  if num % 2 ==0:
     even_sum +=num
print("sum of even numbers:",even_sum)

enter start of range:5
 enter end of range7
sum of even numbers: 6

In [79]:
def check_divisibility(num):
  if num % 3 == 0 and num % 5 ==0:
      return True
  else :
      return False
number = int(input("enter a number: "))
if check_divisibility(number):
   print(f"{number} is divisible by both 3 and 5.")
else:
   print(f"{number} is not divisible by both 3 and 5.")

enter a number: 15
15 is divisible by both 3 and 5.

In [81]:
def is_palindrome(s):

    s = s.replace(" ", "").lower()

    return s == s[::-1]

input_string = input("Enter a string: ")
if is_palindrome(input_string):
    print(f"'{input_string}' is a palindrome.")
else:
    print(f"'{input_string}' is not a palindrome.")

Enter a string: ""
'""' is a palindrome.

In [82]:
def count_sevens(lst):
    return lst.count(7)

numbers = [1, 7, 3, 7, 5, 7, 8, 7]

count = count_sevens(numbers)

print(f"The number 7 appears {count} times in the list.")

The number 7 appears 4 times in the list.

In [83]:
def is_alpha(s):
    return s.isalpha()

input_string = input("Enter a string: ")

if is_alpha(input_string):
    print(f"'{input_string}' contains only alphabets.")
else:
    print(f"'{input_string}' does not contain only alphabets.")

Enter a string: ""
'""' does not contain only alphabets.

In [72]:
for num in range(1, 21):

  if num % 2 == 0:
    print(num)

2
4
6
8
10
12
14
16
18
20

In [71]:
sum_of_numbers = 0
num = 1

while num <=100:
  sum_of_numbers += num
  num += 1

print(f"the sum of all numbers from 1 to 100 is: {sum_of_numbers}")

the sum of all numbers from 1 to 100 is: 5050

In [61]:
def factorial(n):
  result = 1
  for i in range(1, n + 1):
    result *= i
n = int(input("enter a number to find its factorial:"))
print(f"the factorial of {n} is {factorial(n)}")

enter a number to find its factorial:32
the factorial of 32 is None

In [84]:

def print_multiplication_tables():
    for i in range(1, 6):
        print(f"Multiplication table for {i}:")
        for j in range(1, 11):
            print(f"{i} x {j} = {i * j}")
        print()

print_multiplication_tables()

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [80]:
def print_multiplication_tables():
   for i in range(1,6):
    print(f"multiplication table for {i}:")
    for j in range(1, 11):
       print(f"{i} * {j} = {i * j}")
    print()
print_multiplication_tables()

multiplication table for 1:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

multiplication table for 2:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

multiplication table for 3:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

multiplication table for 4:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

multiplication table for 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [87]:
# Function to find the sum of digits of a number
def sum_of_digits(number):
    total_sum = 0  # Initialize the sum to 0

    # Use a while loop to extract and sum the digits
    while number > 0:
        digit = number % 10  # Get the last digit
        total_sum += digit   # Add the digit to the total sum
        number = number // 10  # Remove the last digit from the number

    return total_sum

# Input: Number whose digits sum needs to be calculated
num = int(input("Enter a number to find the sum of its digits: "))
print(f"The sum of digits of {num} is {sum_of_digits(num)}")

Enter a number to find the sum of its digits: 25
The sum of digits of 25 is 7