while loops

In [1]:
count = 0
while count < 5:
  print("count:", count)
  count += 1

count: 0
count: 1
count: 2
count: 3
count: 4

CONTORL FLOW TOOLS

In [8]:
for i in range(10):
  if i == 5:
    break
  print (i)

0
1
2
3
4

PASS

In [9]:
for i in range(10):
  if i == 5:
    pass
  print (i)

0
1
2
3
4
5
6
7
8
9

HANDS ON PRACTICE

In [10]:
number = int(input("enter a number:"))
if number %2 ==0:
  print("the number is even.")
else:
  print("the number is odd")

enter a number:6
the number is even.

SUM  OF NUMBER IN A GIVEN RANGE

In [11]:
start =int(input("enter the start of the range:"))
end =int(input("enter the end of the range: "))
sum=0
for i in range(start, end + 1):
  sum += i
print("the sum is:", sum)

enter the start of the range:5
enter the end of the range: 10
the sum is: 45

factorial numbers

In [12]:
number =int(input("enter a number: "))
factorial =1
for i in range(1,number + 1):
  factorial*=i
print("the factorial is:", factorial)

enter a number: 5
the factorial is: 120

FIBONACCI SEQUENCE

In [25]:
n = int(input("enter the number of terms:"))
a, b =0,1
for i in range(n):
  print(a, end=" ")

  a,b = b, a + b

enter the number of terms:10
0 1 1 2 3 5 8 13 21 34

SIMPLE CALCULATOR USING IF-ELSE

In [33]:
num1 = float(input("enter first number: "))
num2 = float(input("enter second number: "))
operation = (input("enter operation(+, -, *, /:"))
if operation == '+':
  print("result:", num1 + num2)
elif operation == '-':
  print("result:", num1 - num2)
elif operation == '*':
  print("result:", num1 * num2)
elif operation == '//':
  print("result:'", num1 // num2)
elif operation == '%':
  print("result:", num1 % num2)
elif operation == '**':
  print("result:", num1 ** num2)
else:
  print("INVALID operation")

enter first number: 6
enter second number: 3
enter operation(+, -, *, /:*
result: 18.0

CHECK LEAP YEAR

In [37]:
year =int(input("enter a year: "))
if(year % 4 == 0 and year % 100!=0) or (year % 400 ==0):
  print("leap year")
else:
  print("not a leap year")

enter a year: 2022
not a leap year

FIND THE LARGEST OF THREE NUMBERS

In [36]:
num1 = float(input("enter first number: "))
num2 = float(input("enter second number: "))
num3 = float(input("enter third number: "))
if num1>=num2 and num1 >=num3:
  print("largest number is:",num1)
elif num2>=num3:
  print("largest number is:",num2)
else:
  print("largest number is:",num3)

enter first number: 7
enter second number: 6
enter third number: 18
largest number is: 18.0

In [38]:
a = int(input(" enter a number"))
if a>0:
  print("positive")
elif a<0:
  print("negative")
else:
  print("zero")

 enter a number5
positive

SUM OF ALL EVEN NUMBER IN A RANGE

In [40]:
start = int(input("enter start of range:"))
end = int(input(" enter end of range"))
even_sum=0
for num in range(start, end + 1):
  if num % 2 ==0:
     even_sum +=num
print("sum of even numbers:",even_sum)

enter start of range:5
 enter end of range7
sum of even numbers: 6