FUNCTION AND MODULES

In [16]:
def greet(name):
  print("hello," + name + "!")
greet("alice")

hello,alice!

1 positional argument

In [22]:
def add(a,b):
  return a+b

print(add(5,3))

8

2  KEYWORD ARGUMENT

In [25]:
def greet(name, message):
  print(message + " ," + name + "!")
greet(name="alice", message="good morning")

good morning ,alice!

3 DEFAULT ARGUMENTS

In [29]:
def greet(name,message="hello"):
  print(message + "," + name + "!")
greet ("alice")
greet("bob","hi")

hello,alice!
hi,bob!

VARIABLE LENGTH ARGUMENT

In [36]:
def rajesh(**numbers):
  for key, value in numbers.items():
        print(f"{key}: {value}")
rajesh(name="rajesh", age=25, city="new york")

name: rajesh
age: 25
city: new york

RETURN STATEMENT

In [49]:
def square(num):
  return num * num
square(5)

25

In [50]:
result = square(7)
print("square is :" ,result)

square is : 49

MODULES

2 IMPORTING MODULE

In [51]:
import math
print(math.sqrt(16))

4.0

IMPORT SPECIFIC FUNCTION

In [63]:
from math import pi, sin
print(pi)
print(sin(math.radians(90)))

3.141592653589793
1.0

In [ ]:
Skip to main content
day3.ipynb
day3.ipynb_
All changes saved

[ ]

Start coding or generate with AI.
FUNCTION AND MODULES


[16]
0s
def greet(name):
  print("hello," + name + "!")
greet("alice")
hello,alice!
1 positional argument


[21]
0s
def add(a,b):
  return a+b

print(add(5,3))
8
2 KEYWORD ARGUMENT


[24]
0s
def greet(name, message):
  print(message + " ," + name + "!")
greet(name="alice", message="good morning")

good morning ,alice!
3 DEFAULT ARGUMENTS


[28]
0s
def greet(name,message="hello"):
  print(message + "," + name + "!")
greet ("alice")
greet("bob","hi")
hello,alice!
hi,bob!
VARIABLE LENGTH ARGUMENT


[33]
0s
def rajesh(**numbers):
  for key, value in numbers.items():
        print(f"{key}: {value}")
rajesh(name="rajesh", age=25, city="new york")
name: rajesh
age: 25
city: new york
RETURN STATEMENT


[46]
0s
def square(num):
  return num * num
square(5)



25

[47]
0s
result = square(7)
print("square is :" ,result)
square is : 49
MODULES

2 IMPORTING MODULE


[48]
0s
import math
print(math.sqrt(16))
4.0
IMPORT SPECIFIC FUNCTION


[60]
0s
from math import pi, sin
print(pi)
print(sin(math.radians(90

def greet(name):
  print("Hello," + name)
def add(a,b):
  return a+b
import my_module
rajesh.great("alice")
print(rajesh.add(5,3))

PRIME NUMBER

In [88]:
def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(num ** 0.5 ) + 1):
    if num % i == 0:
     return False
  return True

  number =int(input("enter a number: "))
  if is_prime(number):
    print("the number is prime.")
  else:
    print("the number is not prime.")

FIBONACCI SERIES

In [82]:
def fibonacci(n):
  sequence=[]
  a, b = 0, 1
  for _ in range(n):
    sequence.append(a)
    a, b = b, a+b
  return sequence

terms =int(input("enter the number of terms:"))
print("fibonacci sequence:",fibonacci(terms))

enter the number of terms:8
fibonacci sequence: [0, 1, 1, 2, 3, 5, 8, 13]

FACTORIAL NUMBER

In [90]:
def factorial(n):
  if n ==0:
    return 1
  else:
      return n *factorial(n-1)

num = int(input("enter a number: "))
print("factorial:",factorial(num))

enter a number: 5
factorial: 120

FIBONACCI SERIES USING FUNCTIONS

In [91]:
def fibonacci(n):
  a, b = 0,1
  for _ in range(n):
    print(a, end="")
    a, b = b, a+b
count =int(input("enter the number of terms: "))
fibonacci(count)

enter the number of terms: 7
0112358

CHECK IF A NUMBER IS PRIME

In [123]:
def is_prime(n):
  if n <= 1:
    return False
  for i in range(2,int(n ** 0.5)+ 1):
    if n % i==0:
      return False
    return True

num = int(input("enter a number: "))
if is_prime(num):
     print("prime number")
else:
     print("not a prime number")

enter a number: 7
prime number

REVERSE A STRING USING A FUNCTION

In [124]:
def reverse_string(s):
  return s [::-1]

text = input("enter a string:")
print("
reversed string:, reverse_string(text)")

enter a string:""
reversed string:, reverse_string(text)