DATA STRUCTURE

LISTS

In [2]:
a = [1,2,3,4,5,6,7]
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [4]:
b = [1,2,3,'raju']
print(b)

[1, 2, 3, 'raju']

LIST OPERATION

In [18]:
print(a[0])#output: 1
print(b[-1])#output:5

10
raju

MODIFYING ITEMS

In [17]:
a[0] = 10
print(a) # output:[10,2,3,4,5]

[10, 2, 3, 4, 5, 6, 7]

ADDING ITEMS

In [21]:
a.append(6)
a

[10, 2, 3, 4, 5, 6, 7, 6, 6]

INSERT()

In [22]:
a.insert(1,15)
a

[10, 15, 2, 3, 4, 5, 6, 7, 6, 6]

REMOVING ITEM

REMOVE()

In [24]:
b.remove(2)
b

[1, 3, 'raju']

POP()

In [26]:
a.pop(2)
a

[10, 15, 3, 4, 5, 6, 7, 6, 6]

ADDING ITEMS

In [37]:
a=[1,2,3,4,5]
a.append(6)
print(a)
a=[1,2,3,4,5]
a.insert(1,15)
print(a)
a = [1,2,3,4,5]
a.remove(2)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 15, 2, 3, 4, 5]
[1, 3, 4, 5]

In [38]:
a = ["nammu"]
len(a)
a = [1,2,3,4,5]
a.sort()
print(a)
a = [1,2,3,4,5]
a.reverse()
a

[1, 2, 3, 4, 5]

[5, 4, 3, 2, 1]

TUPLES

In [40]:
a = (10,20,30)
a

(10, 20, 30)

ACEESSING ITEMS IN A TUPLE

In [41]:
print(coordinates[0])

10

accessing

In [52]:
print(student["name"])

alice

sets

In [61]:
numbers = {1,2,3,4,5}
print(a)

{'name': 'alice', 'age': 21, 'marks': 85}

HANDS ON PRACTICE

1.MANUPULATING LISTS

In [66]:
fruits = ["apple","banana","cherry"]
fruits.append("orange")
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'orange']

CREATING A DICTIONARY

In [68]:
book = {"title":"python basics",
        "author":"john doe",
        "year":2021}
print(book["title"])
book["year"]=2022
print(book)

python basics
{'title': 'python basics', 'author': 'john doe', 'year': 2022}

WORKING WITH SETS

In [69]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}
print("union:",set1|set2)
print("intersection:",set1 & set2)
print("difference:",set1 - set2)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}

16] MERGE TWO LISTS

In [78]:
list1 =[1,2,3]
list2 =[4,5,6]
merged_list = list1 + list2
print("merged list:",merged_list)

merged list: [1, 2, 3, 4, 5, 6]

17]  DICTIONARY OPERATIONS

In [79]:
student = {"name":"john","age":21,"marks":85}
print("name:",student["name"])
student["marks"] =90
print("updates marks:",student["marks"])

name: john
updates marks: 90

18] FIND THE MAXIMUM AND MINIMUM IN A LIST

In [81]:
numbers = [10,20,30,40,50]
print("Maximum:", max(numbers))
print("Minimum:", min(numbers))

Maximum: 50
Minimum: 10

19]  COUNT FREQUENCY OF ELEMENTS IN A LIST

In [82]:
numbers = [1,2,3,3,3,4,4,4,4]
frequency = {}
for num in numbers:
  frequency[num] = frequency.get(num,0) + 1
print("frequency of elements:",frequency)

frequency of elements: {1: 1, 2: 1, 3: 3, 4: 4}

20]  SORT A LIST OF TUPLES BY THE SECOND ELEMENTS

In [86]:
tuples =[(1,'apple'),(2,'banana'),(3,'cherry')]
sorted_tuples = sorted(tuples,key=lambda x:x[1])
print("sorted tuples:", sorted_tuples)

sorted tuples: [(1, 'apple'), (2, 'banana'), (3, 'cherry')]

DICTIONARY

In [87]:
student={"name": "megha","age":18, "colour": "white"}
print(student)
print(student["name"])
print(student[ 'colour'])
print(student["age"])

{'name': 'megha', 'age': 18, 'colour': 'white'}
megha
white
18

In [88]:
student["age"]=15
student

{'name': 'megha', 'age': 15, 'colour': 'white'}

In [ ]:
#adding

In [89]:
student['grade']="A"
student

{'name': 'megha', 'age': 15, 'colour': 'white', 'grade': 'A'}

 #important
PALIDROME

In [92]:
number = int(input("enter a number:"))
reverse_number = 0
temp = number

while temp> 0:
  digit = temp % 10
  reverse_number = reverse_number * 10 + digit
  temp = temp// 10

if number == reverse_number:
    print(f" {number}pali")
else:
  print(f"{number} not pali")

enter a number:344
344 not pali

In [93]:
number = input("enter a number: ")
if number == number[::-1]:
  print("palidrome")
else:
  print("not palidrome")

enter a number: sos
palidrome